<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.login.dao.AdministerDao" >
 	
 	<select id="selectList" parameterType="com.admin.login.entity.Administer" resultType="com.admin.login.entity.Administer">
 		select * from administer
 	</select>
 	
 	<select id="selectId" parameterType="Integer" resultType="com.admin.login.entity.Administer">
 		select * from administer where id=#{id}
 	</select>
</mapper>